.box_authen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    .box-sign-in {
      background-color: #f2f2f2;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      h3 {
        text-align: center;
      }
  
      label {
        display: block;
        margin-bottom: 5px;
      }
  
      input {
        width: 100%;
        padding: 10px;
        border-radius: 3px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
      }
  
      .btn-sign-in {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-top: 10px;
      }
  
      .checkbox-remember {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        cursor: pointer;
        
        p {
          margin: 0;
          
          &:first-child {
            margin-right: 5px;
          }
        }
      }
    }
  }