@import 'bootstrap/scss/bootstrap.scss';
.admin_page {
    width: 100%;
    height: 100vh;
    background: #eee url('https://i.imgur.com/eeQeRmk.png');
    nav {
        width: 100%;
        height: 60px;
        background-color: $secondaryColor;
        padding: 10px 100px;
        font-size: $m;
        display: flex;
        justify-content: space-between;
        .logo {
            height: 100%;
            display: flex;
            align-items: center;
            img {
                height: 50px;
            }
        }
        .user {
            height: 100%;
            display: flex;
            align-items: center;
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-left: 10px;
            }
            .dropdown {
                .dropdown-toggle {
                    outline: unset !important;
                    border: unset !important;
                    background-color: transparent !important;
                }
            }
        }
    }
    .admin_container {
        width: 100%;
        height: calc(100vh - 60px);
        display: flex;
        .menu_bar {
            width: 210px;
            height: 100%;
            background: white;
            transition: all 0.2s;
            transform: translateX(0%);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 10px;
            opacity: 1;
            &.hidden {
                width: 0px;
                transform: translateX(-100%);
                opacity: 0;
            }
            .menu_item {

                font-family: $fontKanit;
                button {
                    background-color: $secondaryColor;
                    outline: unset;
                    border: unset;
                }
                .menu_item_main {
                    
                }
                .menu_item_sub {
                    cursor: pointer;
                    margin: 10px 0;
                    transform: translateY(0);
                    opacity: 1;
                    transition: all 0.2s;
                    height: 100px;
                    li {
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                    &.hidden {
                        height: 0;
                        transform: translateY(-100%);
                        opacity: 0;
                    }
                }
            }
        }
        .content {
            transition: all 0.2s;
            flex: 1;
            height: 100%;
            background: transparent;
            padding: 10px;
            .history {
                width: 100%;
                height: 30px;
                font-size: $m;
                display: flex;
                align-items: center;
                background-color: white;
                padding: 5px;
                border-radius: 5px;
                margin-bottom: 5px;
                span {
                    margin-left: 5px;
                    cursor: pointer;
                    transition: all 0.2s;
                    &:hover {
                        color: rgb(197,138,249);
                        font-weight: 900;
                        transform: scale(1.1);
                    }
                    &:hover::before {
                        color: black;
                        transform: unset;
                        font-weight: normal;
                    }
                    &::before {
                        content: "/";
                        display: inline-block;
                        width: 5px;
                        height: 100%;
                        margin-right: 10px;
                        cursor: unset;
                        text-align: center;
                    }
                    &:first-child::before {
                        content: "";
                    }
                }
            }
            .content_body {
                width: 100%;
                font-size: $m;
                padding: 5px;
                border-radius: 5px;
                background-color: white;
                height: calc(100vh - (60px + 60px));
                position: relative;
                .product_create_form {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(grey, 0.7);
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    form {
                        padding: 10px;
                        width: 450px;
                        height: 600px;
                        border-radius: 10px;
                        background-color: white;
                        box-shadow: 2px 2px 2px 2px rgb(102, 101, 101);
                        position: relative;
                        .btn_box {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 10px;
                            span {
                                font-family: $fontKanit;
                                font-size: $l;
                            }
                        }
                        .btn-success {
                            position: absolute;
                            bottom: 10px;
                            right: 10px;
                        }
                        .input_avatar {
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                                cursor: pointer;
                            }
                            span {
                                position: absolute;
                                z-index: 1;
                                color: white;
                                font-weight: 900;
                                font-size: $l * 2;
                                text-shadow: 2px 2px 2px black;
                            }
                            input {
                                position: absolute;
                                opacity: 0;
                                width: 100%;
                                height: 100%;
                                z-index: 2;
                                top: 0;
                                left: 0;
                                cursor: pointer;
                            }
                        }
                        .pictures {
                            display: flex;
                            flex-wrap: wrap;
                            .item {
                                width: 75px;
                                height: 75px;
                                border-radius: 50%;
                                margin: 0 10px 10px 0;
                                position: relative;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                                .btn-danger {
                                    border-radius: 5px;
                                    position: absolute;
                                    // top: $m / 2;
                                    // right: $m / 2;
                                    font-size: $m;
                                    padding: 0;
                                    width: $m * 1.5;
                                    height: $m * 1.5;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

